.product-details {
    padding: 20px;
}

.product-details .content {
    display: flex;
    flex-direction: row;
}

.product-details .content aside {
    flex: 1;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid lightgray;
}

.product-details .content aside img {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
    align-self: center;
    justify-self: center;
}

.product-details .content aside .price {
    margin-bottom: 10px;
    justify-self: flex-start;
}

.product-details .content .description {
    flex: 3;
    padding-left: 10px;
}