.todo-list {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.todo-list .input input {
    width: 100%;
    padding: 10px;
}

.todo-list ul {
    list-style: none;
}

.todo-list ul li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #e3e3e3;
}