section.home {
    padding: 20px;
    background: #fff;
}

.home .product-list {
    display: flex;
}

section.home ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    box-flex-group: wrap;
}